<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" hidden$={{logado}}>
        <h1>Ingrese a la App</h1>
      </div>
      <div class="row" hidden$={{logado}}>
        Email: <input type="email" value="{{email::input}}" required >
      </div>
      <div class="row" hidden$={{logado}}>
        Password: <input type="password" required value="{{password::input}}">
      </div>
      <div class="row" hidden$={{logado}}>
        <button on-click="login" type="button" name="button">Login</button>
      </div>
      <div class="row" hidden$={{!logado}}>
        <span>Bienvenido a la aplicación</span>
      </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/Login"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login() {
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado = true;
      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("Datos ingresados incorrectos, por favor valide");
        console.log(error);
      }
    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
